/*===GENERAL===*/
*,
*::before,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*=== MAIN ===*/
body {

  background: #333;

  /*#3e54cf; rgb(96, 94, 243);*/

}

.chart-histo {
  box-shadow: 1px 1px 20px 10px rgb(7, 7, 7);
  box-shadow: 1px 1px 20px 10px rgb(235, 230, 230);
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.3);
  height: 330px;
  width: 600px;
  line-height: 35vh;
  background: darkblue;
  border-radius: 10px;
    position: absolute;
    top: 12%;
    left: 70px;
    z-index: 100;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.chart-histo div {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #333;
  font-size: 20px;
  height: 50px;
  line-height: 48px;
  margin-bottom: 5px;
}

.chart-circle {
  box-shadow: 1px 1px 20px 10px rgb(7, 7, 7);
  box-shadow: 1px 1px 20px 10px rgb(235, 230, 230);
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.3);
  height: 330px;
  width: 600px;
  line-height: 35vh;
  background: darkblue;
  border-radius: 10px;
  display: flex;
    position: absolute;
    top: 12%;
    left: 700px;
    z-index: 100;
    gap: 10px;
    align-items: center;
}

.chart-circle div {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #333;
  font-size: 20px;
  height: 50px;
  line-height: 48px;
  margin-bottom: 5px;
}


.bar-graph {
  padding-right: 10px;
  text-align: right;
  font-family: 'Lato';
  font-weight: 300;

}

.histograph {
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  text-align: center;
  width: 50px;
  font-family: 'Lato';
  font-weight: 200;
}

.histograph:hover {
  transform: scaleX(1.075);
  -webkit-transform: scaleX(1.075);
}

.bar-graph:hover {
  transform: scaleY(1.075);
  -webkit-transform: scaleY(1.075);
}

.active {
  background: orange;
  border-bottom: 3px solid rgb(255, 69, 0);
  color: white;
}


/* Menu */

.Menu{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.Menu img{
    width: 38px;
    height: 38px;
    border-radius: 20%;
    background-color: #000;
    border: none;
    transition: .5s;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 1);
}
.Menu img:hover{
    background-color: #fff;
    color: #000;
}